<%- include('partials/header.ejs') %>
  <div class="container">
    <header class="jumbotron">
      <h1>Chapters</h1>
    </header>

    <% chapters.forEach(function(chapter){ %>
      <div>
        <h4>
            <%= chapter.number%>. 
            <a href="/chapters/<%= chapter.number%>/<%= chapter.routeName %>">
                <%= chapter.name %>
            </a>
        </h4>
        <!--<img src="<%=chapter.tileImageUrl %>">-->
      </div>
    <% }) %>
  </div>
<%- include('partials/footer.ejs') %>

