<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>theAquarianTeacher</title>

    <link rel="stylesheet" href="/timeline.css">
    <link rel="stylesheet" href="/timeline_rdw_additions.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
</head>
<body>

<div class="container">
  <h1 class="title">A Brief History of Yoga</h1>
  <div class="timeline">
    <div class="swiper-container">
      <div class="swiper-wrapper">
          <% data.forEach(function(item){ %>
          <div class="swiper-slide" style="background-image: url(<%=item['image-url']%>;)" data-year=<%= item['period'] %> >
                <div class="swiper-slide-content">
                  <span class="timeline-year"><%=item['period']%></span>
                  <h4 class="timeline-title"><%=item['title']%></h4>
                  <p class="timeline-text"><strong><%=item['summary']%></strong></p>
                  <% let i = 1 %>
                  <% let paragraphs = item['paragraphs'] %>
                  <% paragraphs.forEach(function(paragraph){ %>
                    <% if(paragraphs[paragraphs.length-1] === paragraph){ %>
                      <p class="timeline-text para<%=i%>">
                        <%= paragraph %>
                        .<button class="resetParagraphs">From the top</button>
                      </p>
                    <% } else { %>
                      <p class="timeline-text para<%=i%>">
                        <%= paragraph %>
                        ...<button class="nextParagraph">Read More</button>
                      </p>
                    <% } %>
                    <% i += 1; %>
                  <% }) %>
                </div>
          </div>
          <% }) %>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

<script src="/timeline.js"></script>
<script src="/timeline_rdw_additions.js"></script>
</body>
</html>
